
@{
    ViewBag.Title = "ThongTinChung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li style="color:black">Thông Tin Chung</li>
    </ul>
</div>
<div class="container-fluid">
    <h1>Thông Tin Chung</h1>
    <div style="text-align: center">
        <img style="width:70%" src="https://i2-vnexpress.vnecdn.net/2022/12/26/316222594-3471214863152813-531-5508-5140-1672019455.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=iEHNXRUcpk9kNcdRoF-Zfg" />
    </div>
    <h2>Lịch sử trường</h2>
    <p>
        - Tiền thân của Trường là Học viện Thủy lợi Điện lực được thành lập năm 1959. Tháng 1 năm 1963, Học viện Thủy lợi Điện lực chia thành 4 đơn vị là Trung cấp điện, Trung cấp Thủy lợi, Viện Nghiên cứu khoa học Thủy lợi và Trường Đại học Thủy lợi. Ban đầu, Trường có 3 ngành đào tạo: Thủy công, Thủy nông, Thủy văn. Các phòng thí nghiệm được lắp đặt: Sức bền vật liệu, Thủy lực, Thủy công, Thủy điện, Cơ đất... Năm 1965 nhà hành chính được xây dựng hoàn thành, với nhiều phòng học và phòng thí nghiệm phục vụ giảng dạy. Cũng trong năm này, trường mỡ thêm ngành Thủy điện (khoá 7).
        Tháng 6 năm 1965, trường sở sơ tán lên vùng núi xã Nghĩa Phương, thuộc huyện Lục Nam, tỉnh Bắc Giang. Năm 1966, mở thêm ngành Cơ khí Thủy lợi (khoá 8). Năm 1967 mở thêm ngành Thi công (khoá 9). Năm 1970, trường sở trở về Hà Nội, nhưng đến năm 1972, một lần nữa lại sơ tán lên Việt Yên, Hiệp Hòa, tỉnh Bắc Giang và một số nơi khác. Năm 1973, trường sở lại về Hà Nội.
        Từ năm 1975 trở đi, Trường đã sắp xếp tổ chức lại ngành nghề đào tạo theo hướng diện rộng, chuyên môn hoá hợp lý bao gồm:<br />
        - Công trình Thủy lợi;<br />
        - Thủy văn và Kỹ thuật môi trường;<br />
        - Thủy năng và Trạm Thủy điện;<br />
        - Thủy nông và Cải tạo đất;<br />
        - Cơ khí Thủy lợi;<br />
        - Kinh tế Thủy lợi.<br />
        - Năm 1979, trường được chính thức công nhận là một cơ sở đào tạo Sau đại học. Đây cũng là giai đoạn Nhà trường phát triển mối quan hệ những mối quan hệ quốc tế có hiệu quả với nhiều trường ở Liên Xô (cũ) với các nước Đông Âu, Lào, Ấn Độ, Hà Lan...
        Ngày 8 tháng 12 năm 1986, Trung tâm kết hợp đào tạo - nghiên cứu khoa học và thực hành khoa học kỹ thuật Thủy lợi tại Nam Bộ được thành lập trên cơ sở Đoàn Quy hoạch - Khảo sát và Thiết kế thủy lợi Nam Bộ. Ngày 25 tháng 2 năm 1997, Trường Đại học Thủy lợi tiếp nhận Trung tâm, và chuyển đổi thành cơ sở 2 đào tạo theo Quyết định số 288NN-TCCB/QĐ của Bộ trưởng Bộ Nông nghiệp và Phát triển Nông thôn và giữ tên gọi đó cho đến hiện nay[3].
        Hiện tại, Trường Đại học Thủy lợi với 9 ngành 20 chuyên ngành nhằm phủ kín nội dung hoạt động về kỹ thuật tài nguyên nước ở Việt Nam. Dù là một trường chuyên ngành nhưng việc đào tạo của nhà trường đã đang bắt đầu mang tính liên ngành đa lĩnh vực.
    </p>

    <h2>Cơ sở vật chất</h2>
    <p>
        - Cho đến nay, Trường Đại học Thủy lợi có tổng diện tích đất quản lý là 726.568m2 với nhiều các hạng mục công trình như hệ thống giảng đường hiện đại, thư viện, ký túc xá, khu giáo dục thể chất.
        Phòng học và phòng thí nghiệm[sửa | sửa mã nguồn]<br />
        - Trường có 365 phòng học, phòng máy tính, phòng thí nghiệm và xưởng thực hành với tổng diện tích là 55.469m2. Các phòng học được cải tạo đồng bộ với các trang thiết bị hiện đại, với hệ thống bảng di động, máy chiếu, điều hòa đồng bộ.
        Thư viện[sửa | sửa mã nguồn]<br />
        - Được đưa vào sử dụng từ giữa năm 2006, Thư viện Trường Đại học Thủy lợi có tổng diện tích là 7.586 m2 được đầu tư khá đồng bộ các trang thiết bị hiện đại và được bố trí thành một không gian học tập thân thiện. Là một bộ phận hữu cơ trong cơ cấu tổ chức đào tạo của Nhà trường, hiện Thư viện đang có khoảng 30.000 đầu sách, trên 130 đầu tạp chí và các nguồn tài nguyên số và tài nguyên điện tử... phục vụ quá trình đào tạo sinh viên Đại học, Cao học và Nghiên cứu sinh; góp phần phục vụ đào tạo lại, nâng cao trình độ chuyên môn của các cán bộ giảng dạy và nghiên cứu.
        Ký túc xá[sửa | sửa mã nguồn]<br />
        - Khu ký túc xá gồm có 1 toà nhà 11 tầng với 300 phòng trang bị hiện đại và 3 dãy nhà 3 tầng gồm 270 phòng ở có đủ điều kiện sử dụng tốt. Trong phòng có giường tầng, công trình phụ khép kín. Nguồn điện nước và các dịch vụ hỗ trợ đầy đủ, hợp lý, thuận tiện cho học viên từ các tỉnh xa về học tập tại trường. Đời sống tinh thần của học viên, sinh viên phong phú với các hoạt động thể dục thể thao, văn hóa văn nghệ. Môi trường xã hội lành mạnh ổn định, trật tự an toàn kỷ cương được đảm bảo tốt giúp học viên yên tâm học tập và công tác.
        Khu Giáo dục thể chất[sửa | sửa mã nguồn]<br />
        - Khu Giáo dục thể chất là một quần thể hiện đại đa chức năng với sân bóng đá, bóng rổ, bể bơi, sân tennis, phòng tập gym, nhà thi đấu... thường xuyên mở cửa cho gần 200.000 lượt sinh viên, cán bộ học tập và rèn luyện sức khoẻ mỗi năm.
        Trung tâm Tin học[sửa | sửa mã nguồn]<br />
        - Thực hiện công tác tin học hoá toàn trường, quản trị và điều hành hạ tầng mạng và các hệ thống thông tin, quản trị điều hành chính tin học trong trường. Với 7 phòng máy, mỗi phòng gồm 100 máy tính có thể truy cập Internet, trung tâm tin học đáp ứng tốt nhu cầu học tập của sinh viên và là nơi triển khai các chương trình thuộc các dự án liên kết đào tạo giữa trường Đại học Thủy lợi với các tổ chức trong và ngoài nước.
        Trạm Y tế[sửa | sửa mã nguồn]<br />
        - Trạm y tế có 4 phòng, 2 giường, 1 bàn khám bệnh và đầy đủ trang thiết bị cho một trạm y tế. Đây là nơi quản lý hồ sơ chăm sóc sức khoẻ ban đầu, định kỳ và theo dõi sức khoẻ lâu dài cho hàng ngàn lượt sinh viên và cán bộ công nhân viên trường mỗi năm. Ngoài ra hàng năm trạm y tế còn phối hợp và kết hợp với trạm y tế dự phòng thành phố Hà Nội, quận Đống Đa và phường Trung Liệt phát động nhiều phong trào phòng tránh dịch bệnh, giữ vệ sinh chung và kiểm tra vệ sinh an toàn thực phẩm trong trường.
        Hạ tầng cơ sở đóng góp một vai trò hết sức quan trọng vào bề dày gần 50 năm phát triển của Trường Đại học Thủy lợi. Cơ sở vật chất ngày một đầy đủ, khang trang, sạch đẹp hơn, từng thế hệ sinh viên trưởng thành từ mái trường này tự hào về Trường Đại học Thủy lợi, ngôi trường không ngừng đổi mới để hội nhập.
    </p>
    <h2>Danh hiệu</h2>
    <p>
        - Huân chương Hồ Chí Minh (năm 2004);<br />
        - Đơn vị Anh hùng Lao động thời kỳ đổi mới (năm 2000);<br />
        - Huân chương Độc lập hạng Nhất (năm 1999, 2009), hạng Hai (năm 1994), hạng Ba (năm 1989);<br />
        - Huân chương Lao động hạng Nhất (năm 1984), hạng Hai (năm 1978), hạng Ba (năm 1961, 1976);<br />
        - Huân chương Lao động hạng Nhất do nước CHĐCN Lào trao tặng năm 2000 và 2008;<br />
        - Bằng khen Thủ tướng năm 2007 và năm 2014;<br />
        - Cờ thi đua của Chính phủ năm 2013 và 02 Cờ thi đua của Chính phủ trong năm 2016;<br />
        - Cờ thi đua của Tổng LĐLĐ năm 2005, 2015;<br />
        - Cờ Thi đua của Bộ Nông nghiệp & PTNT các năm: 2002, 2008, 2013, 2015;<br />
        - Bằng khen Bộ Nông nghiệp và PTNT các năm: 2009, 2010;<br />
        - Cờ thi đua của Bộ Giáo dục & ĐT năm 2007 và 2011;<br />
        - Bằng khen của Bộ Giáo dục & ĐT năm 2009;<br />
        - Bằng khen của Bộ Quốc phòng năm 2010;<br />
        - Bằng khen của Bộ Công an năm 2013 và 2015.<br />
        - Huân chương lao động hạng Nhất năm 2019<br />
    </p>
</div>
