
@{
    ViewBag.Title = "TrietLyGiaoDuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <ul class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li style="color:black">Thông Tin Chung</li>
    </ul>
</div>
<div class="container-fluid">
    <h1>Triết lý giáo dục</h1>
    <p>
        - Triết lý giáo dục <br />
        - " Học tập vì ngày mai lập nghiệp" <br />
        - Triết lý giáo dục luôn nhắc nhở Sinh viên rằng trong việc học hay làm bất cứ một việc gì ta cần xác định rõ mục tiêu. Học để hiểu biết, học để làm người, học để làm việc và chung sống. Mục tiêu là yếu tố đầu tiên quyết định nên sự thành công của chính Sinh viên, cụ thể ở đây nhấn mạnh vào việc học tập để có những kiến thức, kỹ năng, phẩm chất để sau khi tốt nghiệp có thể lập nghiệp được. Sự thành công trong sự nghiệp sau này của Sinh viên phụ thuộc phần lớn vào việc học tập tại trường như thế nào. Xác định rõ mục tiêu, học cho chính bản thân mình, tương lai của mình sẽ giúp Sinh viên có động lực hơn trong học tập. Sinh viên sẽ cố gắng tìm ra phương pháp học phù hợp với khả năng, hoàn cảnh của bản thân để vươn lên, đạt được mục tiêu đó.
    </p>
</div>

