
@{
    ViewBag.Title = "TuyenSinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1>Thông báo tuyển sinh đại học chính quy năm 2023 (TLA)</h1>
    <p>- Chi tiết:</p><a href="https://cse.tlu.edu.vn/tuyen-sinh-cse/thong-bao-tuyen-sinh-dai-hoc-chinh-quy-nam-2023-449">Tại đây</a>
</div>

